.advantages-section-list{   
    padding-top: 60px;
    padding-bottom: 60px;
}  
.advantages:not(:last-child){
    margin-bottom: 30px;
    
}

.advantages{
    display: block;
    width:100%;
    margin-left: auto;
    margin-right: auto;

&-icon-container{

    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #F5F4FA;
    border-radius: 4px;
    

    &-icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        height: 70px;
        
    }
 }
&-title{
    text-align: center;
    font-family: $roboto-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height:1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $titles-color;
    margin-top: 30px;
}
&-discription{
    
    font-family: $roboto-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    color: $items-color;
    margin-top: 10px;
}
}
@media screen and (min-width:$mobile){
    .advantages{
        width:$mobile;
    }
}
@media screen and (min-width:$tablet){
    .advantages-section-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .advantages{
        margin: 0;
        width: 354px;
    }
    .advantages-item{
        margin: 0;
    }
    
    .advantages-icon-container{
        padding-left: 142px;
        padding-right: 142px;
        max-width: 354px;
    }
    
    .advantages-item:nth-child(2n+1){
        margin-right: 30px;
    }   
}
@media screen and (min-width:$desktop){
    .advantages-section-list{
        display: flex;
        justify-content: space-between;
        padding: 94px 0;
    }
    .advantages-item{
        margin: 0;
    }
    .advantages{
        width: 270px;
    }
    
    .advantages-icon-container{
        padding-left: 100px;
        padding-right: 100px;
        margin: 0;
        width: 270px;
    }
    .advantages-icon-container-icon{
        margin: 0;
    }
}



