.advantages-section{   
    padding-top: 94px;
    padding-bottom: 94px;
    
 &-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
.advantages{
    display: flex;
    flex-direction: column;
    align-items: center;

&-icon-container{

    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #F5F4FA;
    border-radius: 4px;

    &-icon{
        width: 70px;
        height: 70px;
    }
 }
&-title{
    
    font-family: $roboto-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height:1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $titles-color;
    margin-top: 30px;
}
&-discription{
font-family: $roboto-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */
letter-spacing: 0.03em;
color: $items-color;
max-width: 270px;
margin-top: 10px;
}
}




