
.constant-clients{
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    
    &-title{
        font-family:$roboto-font;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 1.179;
        /* identical to box height */
        
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 30px;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        
        
        
    }
}



.const-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    flex-basis: calc((100%-60px)/2);
    margin: 15px;
    &:hover, &:focus{
        border-color: $accent-color;

    }

}

.const-item:hover .clients-link,
.const-item:focus .clients-link{
    fill:$accent-color;
    
}
@media screen and (min-width:100px) and (max-width:767px){
    .const-item:nth-child(-n+2){
        margin-top: 0;
    }
    .const-item:nth-child(n+5){
        margin-bottom: 0;
    }
}

@media screen and (max-width:767px){
    .const-item:nth-child(odd){
        margin-left: 0;
    }
    .const-item:nth-child(even){
        margin-right: 0;
    }
  
    .const-item{
        flex-basis: 210px;
    }
    .container{
        width:$mobile;

    }
}


@media screen and (min-width:$tablet) and (max-width:1199px){
    .container{
        width:$tablet;
    }
    .const-item{
        flex-basis: 226px;
    }
    .const-item:nth-child(3n+1){
        margin-left: 0;
    }
    .const-item:nth-child(3n+3){
        margin-right: 0;
    }
    .const-item:nth-child(-n+3){
        margin-top: 0;
    }
    .const-item:nth-child(n+3){
        margin-bottom: 0;
    }
}
@media screen and (min-width:$desktop){
    .container{
        width:$desktop;
        
    }    
    .const-item{
        flex-basis: 170px;
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .const-item:first-child{  
        margin-left: 0;
    }
    .const-item:last-child{
        margin-right: 0;
    }

    .constant-clients{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .constant-clients-title{
        margin-bottom: 50px;
    }
    .constant-clients-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
    }
}
