
.footer{
    background-color: #2F303A;
    padding: 60px 0;
    
       
}

.join{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
display: flex;
justify-content: center;
}
.footer-all{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.footer-form-title{
    font-family: $roboto-font;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;
display: flex;
justify-content: center;
}

.form-shape{
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/*.footer-content{
    display: flex;
    align-items: flex-start;
}*/
.footer-btn-title{
    font-family: $roboto-font;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
color:#FFFFFF;
}
.footer-form-btn{
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 10px 29px;  
    justify-content: center;
    

}

.footer-input-mail{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    padding-left: 75px;
    color:#ffffff;
    margin-bottom: 20px;
}
.footer-form-name{
    font-family: $roboto-font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.25;
color: rgba(255, 255, 255, 0.6);
position: absolute;
top:50%;
transform: translateY(-230%);
left: 16px;

}
.footer-form-icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.logo-foot{
    color: #ffffff;    
}
.social-link-footer{
    background: rgba(255, 255, 255, 0.1);
}
.social-list-footer:not(:last-child){
    margin-right: 10px;
}

.container-logo{
margin-bottom: 20px;
display: flex;
justify-content: center;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-join .container-social-list{
    padding-left: 0;
}
.container-social-list{
    padding:0;
    margin-bottom: 60px;
}
.adress-sity{
font-family: $roboto-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px1.714;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-bottom: 8px;
display: flex;
justify-content: center;
}

.mail-footer{
    display: block;
    margin-bottom: 8px;
}
.tel-footer{
    margin-bottom: 60px;
}
@media screen and (min-width:$tablet){
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .container-adress{
        margin-right: 158px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .join{
        margin-top: 5px;
    }
    .foot-logo{
        margin-right: 158px;
    }
    .mail-footer{
        margin-right: 0;
    }
}
@media screen and (min-width:$desktop){
    
    .footer-all{
        flex-direction: row;
    }
    .container-adress{
        justify-content: start;
        margin-right: 0;
    }
    .container-adress{
        align-items: flex-start;
        margin-right: 70px;
        width: 231px;
    }
    .join{
        margin-top: 12px;
        justify-content: flex-start;
    }
    .container-join{
        margin-right: 93px;
    }
    .footer-form-title{
        justify-content: flex-start;
        
    }
    .footer-input-mail{
        max-width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
    .form-shape{
        flex-direction: row;
        align-items: center;
    }
    .footer-form-name{
        transform: translateY(-60%);
    }
    .tel-footer{
        margin: 0;
    }
    .container-social-list{
        margin-bottom: 0;
    }
}