.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.2);
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}

.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 390px;
    max-height: 609px;
    background-color: #ffffff;
    
    
}
.modal-form-input:hover{
    fill: $accent-color;
}
.modal-btn-close{
    position: absolute;
    right: 8px;
    top:8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color:  rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;   
}
.modal-btn-close:hover, .modal-btn-close:focus{
    fill:$accent-color;
}
.modal-close-icon{
    display: block;
}
.modal-form{
    display: block;
}
.container-modal-form{
    padding-left: 40px;
    padding-right: 40px;
}
.form-textarea{
    margin-bottom: 20px;   
}

.modal-form-field{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:hover .modal-form-icon-mail, .modal-form-field:focus .modal-form-icon-mail,
.modal-form-field:hover .modal-form-icon-tel, .modal-form-field:focus .modal-form-icon-tel,
.modal-form-field:hover .modal-form-icon-name, .modal-form-field:focus .modal-form-icon-name
{
    fill:$accent-color;
    
}
.modal-form-input:focus +.modal-form-icon-name, 
.modal-form-input:focus +.modal-form-icon-tel, 
.modal-form-input:focus +.modal-form-icon-mail{
    fill:$accent-color;
}
.modal-form-input:focus, .modal-form-textarea:focus{
    outline-color:$accent-color;
}

.modal-form-field:hover .modal-form-input, .modal-form-field:focus .modal-form-input {
    border-color: $accent-color;
} 
.modal-form-field:focus {
    fill:$accent-color;
}
.modal-form-input, .modal-form-textarea{
    margin-top: 4px;
}
.modal-form-field input{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 40px;
    padding-left: 38px;

}
.modal-form-field textarea{
    width:100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 120px;
    padding: 12px;
}
.modal-form-field textarea::placeholder{
    font-family:$roboto-font;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.167;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
padding-left: 4px;

}
.modal-policy{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.container-modal-btn{
    display: flex;
    justify-content: center;
}
.modal-form-field{
    position: relative;
}
.modal-form-icon-name, .modal-form-icon-tel, .modal-form-icon-mail{
    position: absolute;
   top:0;
   left:0;
   width:18px;
   height: 18px;
    transform: translateY(24px);
    left: 12px;
    
}

.modal-form-btn{
    font-family: var(--accent-color);
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
/* identical to box height, or 187% */
background-color: #2196F3;
border-color: #2196F3;
margin-bottom: 40px;
color: #FFFFFF;
padding: 10px 55px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.modal-policy-link{
    color: #2196F3;
    margin-left: 3px;
}
.modal-policy-label{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
letter-spacing: 0.03em;
color: #757575;
display: flex;
align-items: center;

}
.modal-form-field label{
    font-family:$roboto-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.167;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #757575;
    
    
}
.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkbox-icon{
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
}
.checkbox:checked+.checkbox-icon{
    fill: transparent;
    
    background-image: url('../Images/icon_check.svg');
    background-size: cover;
    background-origin: border-box;
}

.modal-title{
    font-family:$roboto-font;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-top: 40px;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 12px;
}
.modal-btn-close .modal-close-icon{

    width: 18px;
    height: 18px;
}
@media screen and (min-width:$mobile){
    .modal{
    width:450px;
    }
}
@media screen and (min-width:$desktop){
    .modal{
    width: 528px;
    height: 581px;
    }
    .modal-policy-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        
        letter-spacing: 0.03em;
        
        color: #757575;
    
    }
}
