.name{
    padding-top: 30px;
}
.position{
    margin-top: 10px;
}

.our_team-item-title{
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titles-color;
    
}
.our_team-item-position{
    font-family: $roboto-font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.188;
text-align: center;
letter-spacing: 0.03em;
color: $items-color;
margin-bottom: 16px;
}
.card-item-studio{
    
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.our_team{

    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.our-team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 30px;

&:not(:last-child){
    margin-right: 30px;
}
}

.our_team{
    background-color: #F5F4FA;
}
.social-list{
    list-style-type: none;

}
.social-list-item{
    display: flex;    
}

.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        background-color: $accent-color;
}
}

.container-social-list{
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
}
.social-icon{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

.social-link:hover &,
.social-link:focus &{
    fill: #FFFFFF;
}
}